root = true

[*.{ts,tsx,js,css,sass,scss}]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
rulers = 80, 100, 120

[*.md]
trim_trailing_whitespace = false
